/* Home.css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    position: fixed; /* กำหนดให้ติดแน่นด้านล่างของหน้าเว็บ */
    bottom: 0; /* กำหนดให้อยู่ที่ด้านล่างของหน้าเว็บ */
    width: 100%; /* กำหนดให้ครอบทั้งความกว้างของหน้าเว็บ */
}
